<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Campeonato brasileiro</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/fontawesome-all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  </head>
  <style>
    body {
      margin-top: 1em;
      background: url('./src/assets/img/ball.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .escudo-jogo {
      padding: 1em;
    }
    #btn-novo-jogo {
      margin-bottom: 1em;
    }
    .tabela-campeonato > table {
      background-color: #fff;
    }
    #title {
      font-family: 'Merriweather', serif;
      font-weight: bold;
    }
    .return {
      margin-bottom: 1em;
    }
    .return > a {
      text-decoration: none;
    }
  </style>
  <body>
    <div id="app" class="container">
      <h2 id="title" class="text-center">Campeonato Brasileiro 2018 - Série A</h2>
      <button class="btn btn-primary" id="btn-novo-jogo" @click="setView('novoJogo')"
      v-show="view == 'tabela'">Novo jogo</button>
      <div class="return" v-show="view == 'novoJogo'">
        <a href="#" @click.prevent="setView('tabela')">
          <i class="fas fa-arrow-circle-left"></i> Retornar à tabela
        </a>
      </div>
      <div class="form-group">
        <input type="text" class="form-control col-md-4" placeholder="Pesquisar time" v-model="timePesquisado">
      </div>
      <div class="tabela-campeonato" v-show="view == 'tabela'">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col" v-for="(titulo, index) in colunas" :class="{ 'text-center': index == 0 }">
                <a href="#" @click.prevent="order(titulo)"><i class="fa fa-fw fa-sort" v-show="ehOrdenavel(titulo)"></i></a>
                {{ titulo | capitalizarPrimeiraLetra }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(time, index) in timesOrdenados" :class="{ 'table-success': index < 4, 'table-danger': index > 15 }">
              <td class="text-center"><strong>{{ index + 1 }}</strong></td>
              <td><img :src="time.escudo" alt="time.nome"> {{ time.nome }}</td>
              <td>{{ time.pontos }}</td>
              <td>{{ time.golsMarcados }}</td>
              <td>{{ time.golsSofridos }}</td>
              <td>{{ time | saldo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="formulario-jogo" v-show="view == 'novoJogo'">
        <div class="form-row align-items-center">
          <div class="col-sm-1 my-1">
            <input type="text" class="form-control" placeholder="Gols" v-model="jogo.golsTimeCasa"
            @keyup.enter="finalizarPartida()">
          </div>
          <img :src="jogo.timeCasa.escudo" :alt="jogo.timeCasa.nome" class="escudo-jogo">
          <span> X </span>
          <img :src="jogo.timeFora.escudo" :alt="jogo.timeFora.nome" class="escudo-jogo">
          <div class="col-sm-1 my-1">
            <input type="text" class="form-control" placeholder="Gols" v-model="jogo.golsTimeFora"
            @keyup.enter="finalizarPartida()">
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary"
            @click="finalizarPartida()">
              Registrar
            </button>
          </div>
        </div>
      </div>
     </div>
    <script src="/dist/build.js"></script>
  </body>
</html>
